body {
    width: 100%;
}

.topnav {
    background-color: black;
    width: 100%;
    margin-top: -8px;
    margin-left: -8px;
}

.Produkt img {
    height: auto;
}

.footer {
    background-color: black;
    color: white;
    width: 100%;
}

#Video1 {
    width: 100%;
    height: auto;
    margin-left: -8px;
}

button {
    width: 200px;
    height: 45px;
    background-color: black;
    color: white;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: none;
}

button:hover {
    background-color: #fe0000ff;
}

a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 900px) {
    .topnav {
        height: 100px;
    }
    .topnav img {
        width: 230px;
        height: 60px;
        margin-top: 10px;
        margin-left: 15px;
    }
    #symbol {
        width: 60px;
        height: 60px;
        float: right;
        padding-right: 15px;
        margin-top: 2%;
    }
    #Headerbild2 {
        width: 100%;
        margin-left: -0.9%;
        margin-top: -5px;
    }
    #Video2 {
        width: 100%;
        margin-left: -0.9%;
        margin-top: -5px;
    }
    #Video3 {
        width: 100%;
        margin-left: -0.9%;
        margin-top: -5px;
    }
    #Headerbild1 {
        width: 100%;
        margin-left: -0.9%;
        margin-top: -5px;
    }
    .content,
    .content1,
    .content2 {
        font-size: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .Produkt1,
    .Produkt2,
    .Produkt3 {
        text-align: center;
        padding-bottom: 100px;
    }
    .Produkt1 b,
    .Produkt2 b,
    .Produkt3 b {
        font-size: 40px;
        display: block;
    }
    .Produkt1 p,
    .Produkt2 p,
    .Produkt3 p {
        font-size: 30px;
    }
    .Produkt1 img,
    .Produkt2 img,
    .Produkt3 img {
        width: 80%;
        height: auto;
    }
    .Produkt1 button,
    .Produkt2 button,
    .Produkt3 button {
        width: 50%;
        height: 70px;
        font-size: 25px;
    }
    .button {
        margin-bottom: 80px;
        text-align: center;
    }
    .button button {
        width: 60%;
        height: 70px;
        font-size: 25px;
    }
    .Testimonial1,
    .Testimonial2,
    .Testimonial3 {
        text-align: center;
        padding-bottom: 50px;
    }
    .Testimonial1 img,
    .Testimonial2 img,
    .Testimonial3 img {
        width: 80%;
        height: auto;
        padding-bottom: 50px;
    }
    .Testimonial1 p,
    i,
    .Testimonial2 p,
    i,
    .Testimonial3 p,
    i {
        padding-left: 5%;
        padding-right: 5%;
        font-size: 40px;
        display: block;
    }
    .SocialMedia img {
        width: 12%;
        height: 12%;
        margin-left: 6%;
        padding-bottom: 40px;
    }
    .footer {
        padding-top: 30px;
        height: 200px;
        margin-left: -7px;
        padding-bottom: 40px;
        margin-bottom: -7px;
    }
    #footerlogo {
        display: block;
        margin: auto;
        width: 150px;
        height: 40px;
    }
    #footerlogo {
        width: 280px;
        height: 60px;
    }
    .footer p {
        font-size: 25px;
        padding-left: 5%;
        padding-right: 5%;
        text-align: center;
    }
    #Einleitungstext {
        font-size: 30px;
        width: 90%;
        padding-left: 3%;
        padding-bottom: 30px;
        text-align: center;
    }
    h1 {
        font-size: 70px;
        width: 90%;
        text-align: center;
    }
    h2 {
        font-size: 50px;
        text-align: center;
        margin-top: -20px;
        width: 95%;
    }
    h3 {
        font-size: 35px;
        text-align: center;
        width: 90%;
        margin-left: 3%;
    }
}

@media only screen and (min-width: 901px) {
    .topnav {
        height: 20x;
    }
    .topnav img {
        width: 130px;
        height: 30px;
        padding-top: 5px;
        margin-left: 15px;
    }
    #symbol {
        width: 30px;
        height: 30px;
        float: right;
        padding-right: 15px;
    }
    .Produkt1,
    .Produkt2,
    .Produkt3 {
        display: inline-block;
    }
    .Produkt1 b,
    .Produkt2 b,
    .Produkt3 b {
        font-size: 25px;
        margin-left: 150px;
        padding-left: 25px;
    }
    .Produkt1 p,
    .Produkt2 p,
    .Produkt3 p {
        font-size: 18px;
        margin-left: 125px;
    }
    .Produkt1 img,
    .Produkt2 img,
    .Produkt3 img {
        width: 400px;
        padding-bottom: 20px;
    }
    .Produkt1 button,
    .Produkt2 button,
    .Produkt3 button {
        width: 260px;
        height: 50px;
        font-size: 20px;
        margin-left: 80px;
    }
    .Testimonial1,
    .Testimonial2,
    .Testimonial3 {
        display: inline-block;
        width: 30%;
        padding-bottom: 50px;
        padding-top: 20px;
    }
    .Testimonial1 img,
    .Testimonial2 img,
    .Testimonial3 img {
        width: 80%;
        padding-bottom: 15px;
        margin-left: 20%;
    }
    .Testimonial1 p,
    .Testimonial1 i,
    .Testimonial2 p,
    .Testimonial2 i,
    .Testimonial3 p,
    .Testimonial3 i {
        text-align: center;
        display: block;
        font-size: 25px;
        width: 90%;
        margin-left: 17%;
    }
    .SocialMedia img {
        width: 5%;
        height: 5%;
        margin-left: 12%;
        padding-bottom: 15px;
        padding-top: 15px;
    }
    #Headerbild2 {
        width: 50%;
        margin-right: 0.6%;
        margin-top: -0.2%;
        float: right;
    }
    #Video2 {
        width: 50%;
        margin-top: -0.6%;
        margin-right: 0.6%;
        float: right;
    }
    #Video3 {
        width: 50%;
        margin-left: -0.6%;
        margin-top: -0.2%;
    }
    #Headerbild1 {
        width: 50%;
        margin-left: -0.6%;
        margin-top: -0.6%;
        float: left;
    }
    h1,
    h2,
    h3,
    p {
        text-align: center;
        font-family: sans-serif;
        margin-top: 30px;
    }
    #Einleitungstext {
        font-size: 20px;
        width: 80%;
        margin-left: 10%;
    }
    .button {
        text-align: center;
    }
    .button button {
        width: 20%;
        height: 50px;
        margin-bottom: 30px;
        font-size: 18px;
    }
    .footer {
        padding-top: 15px;
        margin-left: -8px;
    }
    #footerlogo {
        display: block;
        margin: auto;
        width: 150px;
        height: 40px;
    }
    .footer p {
        font-size: 12px;
        margin-left: 9%;
        display: inline-block;
        line-height: 30px;
    }
    /*Animation*/
    .Produkt1,
    .Produkt2,
    .Produkt3 {
        position: relative;
        margin-left: -45px;
        padding: 80px;
        width: 300px;
        cursor: pointer;
    }
    .content,
    .content1,
    .content2 {
        opacity: 0;
        font-size: 30px;
        position: absolute;
        top: 80px;
        left: 80px;
        color: white;
        background-color: rgba(254, 0, 0, 0.45);
        width: 400px;
        height: 374px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
    }
    .Produkt1 .content:hover,
    .Produkt2 .content1:hover,
    .Produkt3 .content2:hover {
        opacity: 1;
    }
    .Produkt1 .content .text,
    .Produkt2 .content1 .text1,
    .Produkt3 .content2 .text2 {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 2s;
    }
    .Produkt1 .content:hover .text,
    .Produkt2 .content1:hover .text1,
    .Produkt3 .content2:hover .text2 {
        opacity: 1;
        transform: translateY(250px);
        -webkit-transform: translateY(250px);
    }
}